* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 90px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: white;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .offcanvas-collapse.open > .nav-link {
    color: black !important;
  }
}
.navbar {
  transition: unset;
}
.scroll-nav {
  background-color: white !important;
  color: black !important;
}
.scroll-nav-a {
  color: black !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

#cursor {
  display: inline-block;
  width: 5px;
  height: 40px;
  background-color: gray;
  animation: blink 0.5s infinite alternate;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  filter: brightness(20%);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(20%);
}

.radius-container-down,
.radius-container {
  border-bottom-left-radius: 50%;
}
.radius-container-up,
.radius-container {
  border-top-right-radius: 50%;
}

/* Optional: Add styling for other content */
.content {
  position: relative;
  z-index: 1;
  /* Ensure content is above video */
  color: white;
  text-align: center;
  padding: 50px;
}

.navbar {
  background-color: #ffffff5b;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#upArrowBtn {
  animation: move-up 1.5s ease infinite;
}

#founderContainer,
#tutorContainer {
  background-image: url("/assets/images/robot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 300px;
  padding: 0;
  overflow: hidden;
}

#founderContainer .info,
#tutorContainer .info {
  padding: 30px;
  background-color: #000000d8;
  color: white;
  height: 300px;
  transform: translateY(-100%);
  transition: all ease 0.5s;
}

#founderContainer:hover .info,
#tutorContainer:hover .info {
  transform: translateY(0);
}

.gallery-image {
  cursor: pointer;
}

.gallery-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000086;
  z-index: 999999;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-modal.active {
  display: flex;
}

.gallery-modal div.close {
  text-align: end;
  margin-right: 100px;
  margin-bottom: 10px;
}

.gallery-modal div.close button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
}

.gallery-modal div {
  text-align: center;
  width: 100%;
}
.gallery-modal img {
  width: 80%;
  height: 400px;
}

@keyframes move-up {
  0% {
    padding-bottom: 0;
  }
  25% {
    padding-bottom: 2px;
  }
  50% {
    padding-bottom: 4px;
  }
  75% {
    padding-bottom: 2;
  }
  100% {
    padding-bottom: 0px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.responsive {
  width: 300px;
  height: 300px;
  background-color: red;
}

@media screen and (max-width: 690px) {
  .responsive {
    width: 100%;
    height: 300px;
    background-color: blue;
  }
}
